    <main class="main">
        <section id="home" class="hero section">
            <div class="grid">

            </div>
        </section>

        <section id="pricing" class="pricing section">
            <div class="grid">
                <a name="price-list"></a>
            <h2 class="text-center">Price list</h2>
            <p class="description text-center">The price list is based on the vendor for today. This venue can only be changed by an administrator.
                The selected venue is &quot;{{ vm.catalog.name }}&quot;.</p>
            <article class="price">
                <img src="images/layout/sandwich-section.png" alt="sandwich prices">
                <h1 class="text-center">{{ vm.catalog.types[0].name }}</h1>

                <div ng-repeat="item in vm.catalog.types[0].items">
                    <div style="clear:both;">
                        <div style="float:left; width: 5%;">
                            <input type="checkbox" id="{{item.xid}}" data-checklist-model="vm.orders" data-checklist-value="item" />
                        </div>
                        <div  style="float:left; width: 80%;">
                            <label for="{{item.xid}}">{{ item.name }}</label>
                            </div>
                        <div style="float:left; width: 15%;">
                            <span>{{ item.priceSmall }}</span>
                        </div>
                    </div>
                    <div style="float:left; width: 100%;">
                        <p class="description small"><span>{{item.description}}</span></p>
                    </div>
                </div>

            </article>
            <article class="price">
                <img src="images/layout/salad-section.png" alt="salad prices">
                <h1 class="text-center">{{ vm.catalog.types[1].name }}</h1>
                <p><div ng-repeat="item in vm.catalog.types[1].items">{{ item.name }}
                <p class="description small">{{item.description}}</p>
            </div></p>
            </article>
            <article class="price">
                <img src="images/layout/other-section.png" alt="other prices">
                <h1 class="text-center">{{ vm.catalog.types[2].name }}</h1>
                <p><div ng-repeat="item in vm.catalog.types[2].items">{{ item.name }}
                <p class="description small">{{item.description}}</p>
            </div></p>
            </article>
            </div>
        </section>

        <section id="order" class="order section" ng-controller="OrderController">
            <div ng-repeat="item in vm.orders">
                item: {{item.name}}
            </div>
        </section>

        <section id="history" class="history section">

        </section>
    </main>



<!--
<img src="images/angular.png" height="100" example-directive />
<img src="images/gulp.png" height="100" />
<img src="images/browserify.png" height="100" />-->
